$gb : 'Gotham-Bold';
$mb : 'MaisonNeue-Book';
$ml : 'MaisonNeue-Light';
$hb : 'HelveticaNeueLTStd-Bd';
$hr : 'HelveticaNeue';
$hl : 'HelveticaNeue-Light';
$hm : 'HelveticaNeue-Medium';

$green : #00ae9e;